@model List<ReciclaFuturo.Models.MoradorModel>

<h1>Lista de Moradores</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Morador</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Endereço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cpf</td>
                <td>@item.Email</td>
                <td>@item.Endereco.NomeEndereco, @item.Endereco.NumeroEndereco - @item.Endereco.Cidade/@item.Endereco.Estado</td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.MoradorId">Detalhes</a> |
                    <a asp-action="Edit" asp-route-id="@item.MoradorId">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.MoradorId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
